//- < menutop
| {insert "file:vse200base/modules/_elements/logo/logo.tpl"}
div.logo(class!="{$el_logo.classparent}")
    a.logo__link(href="{$el_logo.href}")
        span.logo__link_vse vse
        | 200#[small .com]