//- < menutop
    < menutop_x

div.contactbtn
    button.btn_contacts
        span(title='Контакты' data-title='X').btn_contacts__txt

        //- Иконка в шапке сайта
        span.ico_contacts.btn_contacts__ico
            svg(width=28 height=18): use(xlink:href='{$images_path}sprite-vse.svg#svg_konvert')