//- < menutop
ul.navlist.navlist-lt
    li: a(href="") База знаний
    li.active
        span.navlist__folder-js Портфолио

        .navlist__sub.navlist__sub-js
            include _navlist-sub

    li: a(href="") Элементы
    li.active: span Portfolio
    li: a(href="") Knowledge base