//- < menutop
ul.navlist-sub
    li.active: span Портфолио
    li: a(href="") База знаний
    li: a(href="") Элементы
    li: span Portfolio
    li: a(href="") Knowledge base Navigation submenu num
    li: a(href="") Elements