//- < modules.html
    > _logo
    > _contactbtn
    > _menutop

include ../../../pug/_if
include ../../../pug/_foreach

//- Logo
.block-bl
    .block.wrapper.pd_block

        include _logo

//- Contact button
.block-bl
    .block.wrapper.pd_block

        include _contactbtn

//- Button Gamburger
.block-bl
    .block.wrapper.pd_block

        div.gamburger.gamburger_js

//- Navigation
.block-bl
    .block.wrapper.pd_block

        ul.navlist.navlist-lt
            li: a(href="") База знаний
            li.active: span Портфолио
            li: a(href="") Элементы
            li.active: span Portfolio
            li: a(href="") Knowledge base

//- Navigation Sub
.block-bl
    .block.wrapper.pd_block

        include _navlist-sub

//- Navigation + Navigation Sub
.block-bl
    .block.wrapper.pd_block
        include _navlist

//- Menu = Button Gamburger + Navigation + Navigation Sub
.block-bl.pd_tb_block
    .menutop__wrap.wrapper.pd_block

        include _menutop

//- Company = Menu + Contact button
.block-bl.pd_tb_block
    .company__wrap.wrapper.pd_block
        .company--revers
            div.company
                .company-lt

                    div
                        .company__contactbtn
                            include _contactbtn

                    div
                        include _menutop

//- Company = Logo + Menu
.block-bl.pd_tb_block
    .company__wrap.wrapper.pd_block
        div.company
            .company-lt

                div
                    .company__logo
                        include _logo

                div
                    include _menutop

//- Company = Logo + Menu + Contact button
.block-bl.pd_tb_block
    .company__wrap.wrapper.pd_block
        div.company
            .company-lt

                div
                    .company__logo
                        include _logo

                div
                    .company__menu-lt

                        div
                            .company__contactbtn
                                include _contactbtn

                        div
                            include _menutop





