//- < base.html
    > menutop.tpl

include ../../../pug/_if
include ../../../pug/_foreach
| {insert "file:vse200base/modules/menutop/menutop.tpl"}
.block-bl
    .block.wrapper.pd_block

        div.logo
            a(href='/').logo__link #[span.logo__link_vse vse]200#[small .com]

.block-bl
    div.menutop.wrapper-blocklr

        .menutop__gamburger
            div.gamburger.gamburger_js

        nav.menutop__nav

            include _navlist

.block-bl
    .block.wrapper.pd_block

        div.gamburger.gamburger_js

.block-bl
    .block.wrapper.pd_block
        include _navlist

.block-bl
    .block.wrapper.pd_block

        ul.navlist.navlist-lt
            li: a(href="") База знаний
            li.active: span Портфолио
            li: a(href="") Элементы
            li.active: span Portfolio
            li: a(href="") Knowledge base

.block-bl
    .block.wrapper.pd_block

        include _navlist-sub