@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//------------------------------
@import "../../base/_var";
@import "../../base/_ext";

$mq_menu: $tab !default;
$cl: lighten(black, 20%) !default;
$cl_bg: white !default;
$cl_hover: #00c3ff !default;
$cl_base: #3fa9f5 !default;
$smart: 544px !default;
$pd_tb: 0.7rem;
$font_nav: sans-serif !default;
$font-ico: 'Flaticon' !default;

.logo
{
    $mq_menu: 480px !default;
    $smart: 544px !default;
    $cl_base: #3fa9f5 !default;

    display: inline-block;

    &__link
    {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: currentColor;
        @extend %text-overflow;

        @include mq-w($mq_menu)
        {
            font-size: 1.3rem;
        }

        > *
        {
            @extend %transit;

            *:hover > &
            {
                @include transform(
                    scale(.9)
                );
            }
        }

        &_vse
        {
            display: inline-block;

            @include mq-w($mq_menu)
            {
                color: $cl_base;
            }
        }

        small
        {
            @extend %hidden;
            display: inline-block;
            text-transform: none;

            @include mq-w($smart)
            {
                @include visible();
            }
        }
    }
}

%sub_activehover
{
    color: $cl_hover;
    left: 1rem;

    &:before
    {
        @extend %visible;
    }
}
.navlist
{
    $mq_menu: 480px !default;
    $cl_hover: black !default;
    $cl_bg: white !default;
    $cl_ico: lighten(black, 60%) !default;
    $font_nav: sans-serif !default;
    $font-ico: 'Flaticon' !default;
    $pd_tb: 0.8rem !default;

    position: relative;

    background-color: $cl_bg;
    text-align: left;

    &-lt
    {
        @include mq-w($mq_menu)
        {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    > *
    {
        position: relative;

        &:has(.navlist__sub)
        {
            cursor: pointer;

            > span
            {
                &:after
                {
                    font-family: $font-ico;
                    content: '\f10d';

                    display: inline-block;
                    margin-left: 0.6em;

                    font-size: 0.6em;
                    color: $cl_ico;
                }
            }
        }

        > *:not(.navlist__sub)
        {
            display: block;
            padding: $pd_tb 1.4rem;
            @extend %txt_nav;
            @extend %text-overflow;

            &:not(span):hover
            {
                color: $cl_hover;
            }
        }

        &.active > *
        {
            color: $cl_hover;
        }
    }

    &__sub
    {
        > [class]
        {
            @include mq-w($mq_menu, max)
            {
                width: auto;
                padding: 0 1rem 0 2.4rem;
                border-radius: 0;
                box-shadow: none;
            }
        }

        @extend %transit;

        &:not(.opened-js)
        {
            display: none;
        }

        *.visible-js > &
        {
            @extend %visible;
        }

        @extend %hidden;

        @include mq-w($mq_menu)
        {
            position: absolute;
            left: -0.7rem;
            top: calc(100% + 1.4rem);
            z-index: 999;
            max-width: none;

            &:not(.opened-js)
            {
                display: block;
            }

            *.visible-js > &
            {
                top: calc(100% + 0.4rem);
            }

            @include hover
            {
                *:hover > &
                {
                    top: calc(100% + 0.4rem);
                    @include visible();
                }
            }
        }
    }

    &-sub
    {
        $cl_bg: white !default;
        $cl_hover: black !default;
        $font_nav: sans-serif !default;

        width: 16rem;
        max-width: 100%;
        padding: 0.8rem;

        background-color: $cl_bg;
        border-radius: 15px;
        box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, 0.15);

        > *
        {
            position: relative;

            > *
            {
                display: block;
                padding: 0.6rem 1rem;
                position: relative;
                left: 0;

                line-height: 1.4;
                @extend %txt_nav;

                @extend %transit;

                &:before
                {
                    content: '';
                    position: absolute;
                    @include width-height(0.32em);
                    left: 0.2rem;
                    top: calc(0.6rem + 0.5em);

                    border-radius: 50%;
                    background-color: $cl_hover;

                    @extend %hidden;
                    @extend %transit;
                }

                &:not(span):hover
                {
                    @extend %sub_activehover;
                }
            }

            &.active > *
            {
                @extend %sub_activehover;
            }
        }
    }
}

.gamburger
{
    @include gamburger(
            $w: 26px,
            $h: 16px,
            $h_item: 2px,
            $cl: currentColor
    );
}

%company_box_animate
{
    top: 100%;
    height: auto;
    max-height: calc(100vh - 24px);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    @include transform-origin(center top);
    @include transform(
        scaleY(0)
    );
    -webkit-transition: -webkit-transform .5s ease 0s, opacity .3s ease .0s;
    @include transition(
        transform .5s ease 0s,
        opacity .3s ease .0s
    );

    .close-js ~ &
    {
        opacity: 1;
        @include transform(
            scaleY(1)
        );
    }
}
%company_wrap
{
    position: relative;
    z-index: 999;
    background-color: var(--cl_bg_company, $cl_bg);

    @include mq-w($mq_menu, max)
    {
        @include pd_tb(0);
    }
}

.menutop
{
    $mq_menu: 480px !default;
    $cl_bg: white !default;
    $pd_tb: 0.8rem !default;

    &__wrap
    {
        @extend %company_wrap;
    }

    @include pd_tb($pd_tb);

    @include mq-w($mq_menu)
    {
        @include pd_tb(0);
    }

    &__gamburger
    {
        @include mq-w($mq_menu)
        {
            display: none;
        }

        > [class]
        {
            margin-left: auto;
        }
    }

    &__nav
    {
        position: absolute;
        left: 0;
        width: 100%;
        padding-bottom: 1rem;
        background-color: $cl_bg;
        @extend %company_box_animate;

        @include mq-w($mq_menu)
        {
            position: static;
            overflow: visible;
            padding-bottom: 0;

            opacity: 1;
            @include transform(
                scaleY(1)
            );
        }
    }
}

.company
{
    $mq_menu: 480px !default;
    $cl_bg: white !default;
    $cl: lighten(black, 20%) !default;
    $cl_base: #3fa9f5 !default;
    $pd_lr_block: var(--pd_lr_block_rem) + ' + ' + var(--pd_lr_block_vw) !default;
    $pd_tb: 0.8rem !default;

    &-bl
    {
        --cl_company: var(--cl_bg_global);
        --cl_bg_company: var(--cl_base_global);

        @include mq-w($mq_menu)
        {
            --cl_company: var(--cl_global);
            --cl_bg_company: var(--cl_bg_global);
        }

        background-color: var(--cl_bg_company);
        color: var(--cl_company);

        > [class]
        {
            @include mq-w($mq_menu, max)
            {
                @include pd_lr($pd_lr_block, 0, true);
            }
        }

        &.scroll_js
        {
            position: fixed;
            top: 24px;
            width: 100%;
            @include hidden();

            @include mq-w($mq_menu)
            {
                box-shadow: 0 2px 10px -3px rgba(36, 36, 36, .25);
            }

            &.fixed_js
            {
                top: 0;
                @include visible();
                @extend %transit;
            }
        }
    }

    &__wrap
    {
        @extend %company_wrap;
    }

    &-lt
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include calc(column-gap, $pd_lr_block);

        > *
        {
            flex-grow: .5;

            &:nth-child(1)
            {
                margin-left: auto;
            }

            &:nth-child(2)
            {
                text-align: right;
            }

            @include mq-w($mq_menu)
            {
                .company--revers &:nth-child(1)
                {
                    order: 1;
                    text-align: right;
                    margin-left: 0;
                }

                .company--revers &:nth-child(2)
                {
                    text-align: left;
                    margin-left: auto;
                }
            }
        }
    }

    &__logo,
    &__contactbtn
    {
        @include pd_lr($pd_lr_block, 0, true);
        @include pd_tb($pd_tb);
        //background-color: white;

        @include mq-w($mq_menu, max)
        {
            padding: 0;
        }
    }

    //- Блок навигации
    &__menu
    {
        &-lt
        {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100vw;
            @include calc(column-gap, $pd_lr_block);

            > *
            {
                @include mq-w($mq_menu)
                {
                    &:nth-child(1)
                    {
                        order: 1;
                    }
                }
            }
        }
    }
}

//- Кнопка
.btn_contacts
{
    $mq_menu: 480px !default;
    $cl_base: #3fa9f5 !default;
    $cl_bg: white !default;

    position: relative;
    display: inline-block;
    text-align: center;
    font-size: .8rem;
    cursor: pointer;
    @extend %transit;

    @include mq-w($mq_menu)
    {
        min-width: 6.2rem;
        padding: .6em 1em;
        color: $cl_base;
        border: 1px solid $cl_base;

        &:hover
        {
            background-color: $cl_base;
            color: $cl-bg;
        }
    }

    &__txt
    {
        display: none;
        //line-height: 1.2;

        &:after
        {
            content: attr(title);
        }

        @include mq-w($mq_menu)
        {
            display: block;
        }
    }

    &__ico
    {
        @include mq-w($mq_menu)
        {
            display: none;
        }
    }
}


