@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//------------------------------
@import "../../base/_var";
@import "../../base/_ext";

$mq_menu: $tab;
$cl_back: white;
$cl_hover: $cl_conpany;

.logo
{
    $company_tab: 480px !default;
    $smart: 544px !default;

    $cl_base: #3fa9f5 !default;
    $cl-bg: white !default;

    display: inline-block;

    &__link
    {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: currentColor;
        @extend %text-overflow;

        @include mq-w($company_tab)
        {
            font-size: 1.3rem;
        }

        > *
        {
            @extend %transit;

            *:hover > &
            {
                @include transform(
                    scale(.9)
                );
            }
        }

        &_vse
        {
            display: inline-block;

            @include mq-w($company_tab)
            {
                color: $cl_base;
            }
        }

        small
        {
            @extend %hidden;
            display: inline-block;
            text-transform: none;

            @include mq-w($smart)
            {
                @include visible();
            }
        }
    }
}

%sub_activehover
{
    color: $cl_hover;
    left: 1rem;

    &:before
    {
        @extend %visible;
    }
}
.navlist
{
    $mq_menu: 480px !default;
    $cl_hover: black !default;
    $cl_back: white !default;
    $font_nav: sans-serif !default;
    $pd_tb: 0.8rem;
    $font-ico: 'Flaticon' !default;

    position: relative;

    background-color: $cl_back;
    text-align: left;

    &-lt
    {
        @include mq-w($mq_menu)
        {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    > *
    {
        position: relative;
        background-color: $cl_back;

        &:has(.navlist__sub)
        {
            cursor: pointer;

            > span
            {
                &:after
                {
                    font-family: $font-ico;
                    content: '\f10d';

                    display: inline-block;
                    margin-left: 0.6em;

                    font-size: 0.6em;
                    color: lighten(black, 60%);
                }
            }
        }

        > *:not(.navlist__sub)
        {
            display: block;
            padding: $pd_tb 1.4rem;
            @extend %txt_nav;
            @extend %text-overflow;

            &:not(span):hover
            {
                color: $cl_hover;
            }
        }

        &.active > *
        {
            color: $cl_hover;
        }
    }

    &__sub
    {
        > [class]
        {
            @include mq-w($mq_menu, max)
            {
                width: auto;
                padding: 0 1rem 0 2.4rem;
                border-radius: 0;
                box-shadow: none;
            }
        }

        @extend %transit;

        &:not(.opened-js)
        {
            display: none;
        }

        *.visible-js > &
        {
            @extend %visible;
        }

        @extend %hidden;

        @include mq-w($mq_menu)
        {
            position: absolute;
            left: -0.7rem;
            top: calc(100% + 1.4rem);
            z-index: 999;
            max-width: none;

            &:not(.opened-js)
            {
                display: block;
            }

            *.visible-js > &
            {
                top: calc(100% + 0.4rem);
            }

            @include hover
            {
                *:hover > &
                {
                    top: calc(100% + 0.4rem);
                    @include visible();
                }
            }
        }
    }

    &-sub
    {
        $cl_back: white !default;
        $font_nav: sans-serif !default;

        width: 16rem;
        max-width: 100%;
        padding: 0.8rem;

        background-color: $cl_back;
        border-radius: 15px;
        box-shadow: 8px 8px 30px 0 rgba(42, 67, 113, 0.15);

        > *
        {
            position: relative;
            background-color: $cl_back;

            > *
            {
                display: block;
                padding: 0.6rem 1rem;
                position: relative;
                left: 0;

                line-height: 1.4;
                @extend %txt_nav;

                @extend %transit;

                &:before
                {
                    content: '';
                    position: absolute;
                    @include width-height(0.32em);
                    left: 0.2rem;
                    top: calc(0.6rem + 0.5em);

                    border-radius: 50%;
                    background-color: $cl_hover;

                    @extend %hidden;
                    @extend %transit;
                }

                &:not(span):hover
                {
                    @extend %sub_activehover;
                }
            }

            &.active > *
            {
                @extend %sub_activehover;
            }
        }
    }
}

.gamburger
{
    @include gamburger(
            $w: 26px,
            $h: 18px,
            $h_item: 3px,
            $cl: currentColor
    );
}

%company_box_animate
{
    top: 100%;
    height: auto;
    max-height: calc(100vh - 24px);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    @include transform-origin(center top);
    @include transform(
        scaleY(0)
    );
    -webkit-transition: -webkit-transform .5s ease 0s, opacity .3s ease .0s;
    @include transition(
        transform .5s ease 0s,
        opacity .3s ease .0s
    );

    .close-js ~ &
    {
        opacity: 1;
        @include transform(
            scaleY(1)
        );
    }
}

.menutop
{
    $cl_back: $cl_back;

    position: relative;
    z-index: 99;
    @include pd_tb($pd_tb_block, 0, true);
    background-color: $cl_back;

    @include mq-w($mq_menu)
    {
        @include pd_tb(0);
    }

    @include mq-w($w_max)
    {
        background-color: transparent;
    }

    &__gamburger
    {
        @include mq-w($mq_menu)
        {
            display: none;
        }

        > [class]
        {
            margin-left: auto;
        }

    }

    &__nav
    {
        position: absolute;
        left: 0;
        width: 100%;
        padding-bottom: 1rem;
        background-color: $cl_back;
        @extend %company_box_animate;

        @include mq-w($mq_menu)
        {
            position: static;
            overflow: visible;
            padding-bottom: 0;

            opacity: 1;
            @include transform(
                scaleY(1)
            );
        }
    }
}


