//- < base.html
    > modules.tpl

include ../../pug/_if
include ../../pug/_foreach
| {extends "file:vse200base/base/base.html"}
| {block 'var'}
| {insert "file:vse200base/modules/modules.tpl"}
| {/block}

| {block 'main'}

| {insert "file:vse200base/modules/menutop/menutop.html"}

| {/block}

| {block 'script'}
| {'js_item' | placeholder}
| {/block}
