//- < base.html
    > modules.tpl
    > menutop.html

include ../../pug/_if
include ../../pug/_foreach
| {extends "file:vse200base/base/base.html"}
| {block 'var'}
| {insert "file:vse200base/modules/modules.tpl"}
| {/block}

| {block 'main'}
| {insert "file:vse200base/modules/menutop/menumodulesx.html"}
//-.block-bl
    .block.wrapper.pd_block
        | {$module}

+if("$module")
    | {include "file:{$modules_path ~ $module}/{$module}.html"}

| {/block}

| {block 'script'}
| {'js_item' | placeholder}
| {/block}
