//- < base.html
    > home.tpl
| {extends "file:vse200base/base/base.html"}
| {block 'var'}
| {insert "file:vse200base/home/home.tpl"}
| {/block}

| {block 'header'}
| {parent}
| {insert "file:vse200base/modules/bannerhead/bannerhead_x.html"}
| {/block}

| {block 'main'}

| {/block}

| {block 'script'}
| {'js_item' | placeholder}
| {/block}
