//- > inc_var.tpl
    > base.tpl
    > inc_head.html
| {insert 'file:html/inc_var.tpl'}
| {insert "file:vse200base/base/base.tpl"}
| {block 'var'}{/block}
doctype html
| <html lang="{$opt.cultureKey}" class="no-js">
head
    | {insert 'file:html/inc_head.html'}
    | {block 'head'}{/block}
    | {'css_base' | placeholder}
    | {'css_item' | placeholder}
    script.
        document.documentElement.className += " js";
        document.documentElement.classList.remove('no-js');

| {block 'body'}
body
    | {/block}

    .containerv
        | {block 'header'}
        header
            | {insert "file:vse200base/modules/menutop/menutopx.html"}

            | {/block}

        main
            | {block 'main'}{/block}

        | {block 'footer'}
        footer
            | {insert "file:vse200base/modules/footer/footerx.html"}
            | {/block}

    | {'js_base' | placeholder}
    | {block 'script'}|{/block}
| </html>