@charset "UTF-8";
@import "../../css/_foundation";// сброс стилей
@import "../../css/_mixin";
@import "../../css/_var";
@import "../../css/_ext";
//***********************************************************_Переменные
@import "_var"; // переменные
@import "_ext"; // заготовки стилей
@import "_font"; // Инициализация шрифтов
@import "_class"; // заготовки стилей
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap&subset=cyrillic');
//- Разметка /**/
//- Оформление /** D **/

html {
    font-family: $font-sans;
    line-height: 1;
    background: $cl-bg;
    color: $cl_light;
    //font-size: max(14px, min(0.85rem + 0.2vw, 18px));
    //font-size: calc(14px + 0.2vw);

    /*@include mq-w(1920px)
    {
        font-size: 18px;
    }*/

    //font-size: clamp(16px, 1.1vw, 18px);
    //font-size: max(15px, min(1.1vw, 18px));

    &.noscroll_js
    {
        height: 100%;
    }
}

body
{
    height: inherit;

}

.containerv
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $cl-bg;

    > *,
    > footer > *
    {
        min-height: 24px;
        flex-shrink: 0;
    }

    > main
    {
        flex-grow: 1;
    }
}

