//- base.html
include ../../../pug/_if
.footer-wrap
    .footer-bl
        .footer.wrapper.pd_lr_block
            .footer-lt
                div
                    div.footer__logo
                        include ../_elements/logo/_logo
                div
                    div.content.footer__content
                        p Если судьба будущего проекта зависит от нахождения его в поисковых системах, предлагаем Вам сразу позаботиться о видимости в них. От правильно разработанной стратегии зависит структура и наполнение сайта. Поэтому наш совет — занимайтесь продвижением до создания сайта.

    .footer-info-bl
        .footer-info.wrapper.pd_block
            p © Copyright 2008 - 2025
                +if("$access")
                    |  ({$_modx->getInfo('queries')} q {$_modx->getInfo('totalTime')} {$_modx->getInfo('source')})

