//- footer.html
    < modules

//- Logo
.block-bl
    .block.wrapper.pd_block
        include ../_elements/logo/_logo

.block-bl
    .block.wrapper.pd_block
        .content.content--invert
            p Если судьба будущего проекта зависит от нахождения его в поисковых системах, предлагаем Вам сразу позаботиться о видимости в них. От правильно разработанной стратегии зависит структура и наполнение сайта. Поэтому наш совет — занимайтесь продвижением до создания сайта.
            p Если судьба будущего проекта зависит от нахождения его в поисковых системах, предлагаем Вам сразу позаботиться о видимости в них. От правильно разработанной стратегии зависит структура и наполнение сайта. Поэтому наш совет — занимайтесь продвижением до создания сайта.

.footer-wrap
    .footer-bl
        .footer.wrapper.pd_lr_block
            .footer-lt
                div
                    .footer__logo
                        include ../_elements/logo/_logo
                div
                    .content.footer__content
                        p Если судьба будущего проекта зависит от нахождения его в поисковых системах, предлагаем Вам сразу позаботиться о видимости в них. От правильно разработанной стратегии зависит структура и наполнение сайта. Поэтому наш совет — занимайтесь продвижением до создания сайта.

    .footer-info-bl
        .footer-info.wrapper.pd_block
            p © Copyright 2008 - 2025

