@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//------------------------------
@import "../../base/_var";
@import "../../base/_ext";

.footer
{
    --cl: var(--cl_footer, white);
    --cl-logo: var(--cl-logo_footer, black);

    &-wrap
    {
        --cl-bg: var(--cl-bg_footer, linear-gradient(280deg, black 0%, gray 62%));

        background-image: var(--cl-bg);
    }

    @include pd_tb('1.6rem + 1vw', 0, true);
    width: fit-content;
    color: var(--cl);

    &-lt
    {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    &__logo
    {
        .logo__link_vse
        {
            color: var(--cl-logo);
        }
    }

    &__content
    {
        max-width: 36rem;
    }

    &-info
    {
        --cl-info: var(--cl-info_footer, black);

        &-bl
        {
            border-top: 1px solid rgba(255,255,255,.1);
        }

        font-size: 0.8rem;
        text-align: center;
        color: var(--cl-info);
    }
}


