//- bannerhead.html
    < modules
- var pathImg = '{$opt.assets_url}images/home/'
//- h1
.block-bl
    .block.wrapper.pd_block
        h1.head_h1 Прибыльные бизнес-проекты #[span с позитивным настроем!]

//- Слоган
.block-bl
    .block.wrapper.pd_block
        p.head_slogan_h1 Поэтому наш совет — занимайтесь продвижением до создания сайта.

.header-h1-bl
    .header-h1.wrapper.pd_block
        h1.head_h1.header-h1__h1 Прибыльные бизнес-проекты #[span с позитивным настроем!]
        p.head_slogan_h1.header-h1__slogan Поэтому наш совет — занимайтесь продвижением до создания сайта.
        div.header-h1__img
            img(src=pathImg + "topimg-home1.png" alt="")


