@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//------------------------------
@import "../../base/_var";
@import "../../base/_ext";

.header-h1
{
    &-bl
    {
        --cl-bg: var(--cl-bg_header-h1, linear-gradient(280deg, black 0%, gray 62%));

        background-image: var(--cl-bg);
    }

    --cl: var(--cl_header-h1, white);
    --cl-accent: var(--cl-accent_header-h1, black);

    @include pd_tb('2rem + 1vw', 0, true);
    color: var(--cl);
    text-align: center;
    @include rhythm-margin(1.6rem);

    &__h1
    {
        > span
        {
            color: var(--cl-accent);
        }
    }

    &__slogan
    {
        color: var(--cl);
    }

    &__img
    {
        width: 36rem;
        max-width: 90%;
        @include mr_auto();
    }
}


