@charset "UTF-8";
@import "../../../css/_mixin";
@import "../../../css/_var";
@import "../../../css/_ext";
//------------------------------
@import "../../base/_var";
@import "../../base/_ext";

$font-ico: 'Flaticon' !default;
$dir_i: 'i/' !default;

$cl_bg: white !default;
$cl_ico: $cl_bg !default;
$cl_invert: $cl_bg !default;
$cl_base: #00c3ff !default;
$cl_bg_ico: $cl_base !default;
$cl_slogan: #c4f1ff !default;
$linear-gradient: linear-gradient(280deg, rgb(4, 182, 241) 0%, rgb(0, 44, 174) 62%) !default;

.fl_startup
{
    position: relative;

    &:after
    {
        content: '\f12f';
        font-size: 1.6rem;
        color: currentColor;
    }
}

.icosection
{
    $cl_ico: white !default;
    $cl_bg_ico: #00c3ff !default;

    display: inline-block;
    @include width-height(4rem);
    line-height: 4rem;
    background-color: $cl_bg_ico;
    border-radius: 50%;
    text-align: center;
    box-shadow: 6px 6px 14px 0px hsla(215, 100%, 60%, 0.3);
    color: $cl_ico;
}

.sitesection
{
    $cl_bg: white !default;
    $cl_invert: $cl_bg !default;
    $cl_base: #00c3ff !default;
    $dir_i: 'i/' !default;
    $linear-gradient: linear-gradient(280deg, rgb(4, 182, 241) 0%, rgb(0, 44, 174) 62%) !default;

    position: relative;
    padding: 3rem 1.6rem;
    width: 22rem;
    max-width: 100%;
    aspect-ratio: 5 / 4;
    background-color: $cl_bg;
    box-shadow: rgba(42, 67, 113, 0.15) 8px 8px 30px 0;
    border-radius: 1rem;
    text-align: center;

    &:before,
    &:after
    {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        border-radius: 1rem;
    }

    &:before
    {
        top: 0;
        left: 0;
        background: url($dir_i + 'topleft.png') top left no-repeat transparent;
    }

    &:after
    {
        bottom: 0;
        right: 0;
        background: url($dir_i + 'bottomricht.png') bottom right no-repeat transparent;
    }

    &--bottom
    {
        &:before
        {
            left: auto;
            right: 0;
            background: url($dir_i + 'topricht.png') top right no-repeat transparent;
        }

        &:after
        {
            right: auto;
            left: 0;
            background: url($dir_i + 'bottomleft.png') bottom left no-repeat transparent;
        }
    }

    &__bg
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include width-height(100%);
        background-image: $linear-gradient;
        border-radius: 1rem;
        @extend %hidden;
        color: $cl_invert;
        @extend %transit;

        *:hover > &
        {
            @extend %visible;
        }
    }

    &__content
    {
        position: relative;
        z-index: 1;
        @include rhythm-margin();

        *:hover > &
        {
            color: $cl_invert;
        }
    }

    &__icosection
    {
        *:hover > * > &
        {
            color: $cl_base;
            background-color: $cl_bg;
        }
    }

    &__btn
    {
        position: absolute;
        left: 0;
        bottom: -10%;
        @include transform(translate(0, 50%));
        z-index: 9;
        width: 100%;
        @extend %transit;
        @extend %hidden;

        *:hover > &
        {
            bottom: 0;
            @extend %visible;
        }

        > [class^=btn]
        {
            @include mr_auto();
        }
    }
}

.fl_rigth
{
    position: relative;

    &:after
    {
        content: '\f121';
        font-size: 1rem;
        color: currentColor;
    }
}

.icorigth
{
    $cl_ico: white !default;
    $cl_bg_ico: #00c3ff !default;

    display: inline-block;
    @include width-height(2.4rem);
    line-height: 2.4rem;
    background-color: $cl_bg_ico;
    border-radius: 50%;
    text-align: center;
    color: $cl_ico;
}

.btn_action
{
    $cl: grey;
    $cl_shadow: hsl(13, 0%, 55%);
    $shadow: '6px 6px 14px 0';

    position: relative;
    overflow: hidden;
    display: block;
    width: fit-content;
    padding: 1rem 1.2rem;
    background-color: white;
    border-radius: 25px;
    font-family: $font_redhat;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    color: $cl;
    box-shadow: #{$shadow} transparentize($cl_shadow, 0.7);
    @extend %transit;

    &:hover
    {
        box-shadow: #{$shadow} transparentize($cl_shadow, 1);
    }

    &:after
    {
        @extend %absolute_content_100;
        border-radius: 25px;
        background-color: $cl;
        opacity: .3;

        left: -100%;
        @extend %transit;

        *:has([class^=ico]) > &
        {
            background-color: $cl_accent;
        }

        *:hover > &
        {
            left: 0;
            @extend %hidden;
        }
    }

    &:has([class^=ico])
    {
        color: $cl_accent;
        padding: 0.3rem 0.4rem 0.3rem 1.2rem;
    }

    > [class^=ico]
    {
        display: inline-block;
        margin-left: 0.8rem;
        background-color: $cl_accent;
    }
}

.sitesection-group
{
    &-lt
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1.6rem;

        > *
        {
            flex-basis: 14rem;
            flex-grow: 1;
            width: auto;
            aspect-ratio: auto;
        }
    }
}

.sitesections
{
    //width: 100%;

    &-lt
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1.6rem;

        > *
        {
            flex-basis: 14rem;
            flex-grow: 1;
            width: auto;
            aspect-ratio: auto;
        }
    }
}