//- sitesections.html
    < modules
- var pathImg = '{$opt.assets_url}images/home/'

//- icosection
.block-bl
    .block.wrapper.pd_block
        .icosection
            span.fl_startup

//- head_box
.block-bl
    .block.wrapper.pd_block
        h3.head_box Awesome Results

//- txt_box
.block-bl
    .block.wrapper.pd_block
        p.txt_box We have seen great successes with everyone companies.

//- boxsection
.block-bl
    .block.wrapper.pd_block
        .sitesection

//- boxsection.boxsection--bottom
.block-bl
    .block.wrapper.pd_block
        .sitesection.sitesection--bottom

//- sitesection
.block-bl
    .block.wrapper.pd_block
        .sitesection
            .sitesection__bg
            .sitesection__content
                .icosection.sitesection__icosection
                    span.fl_startup
                h3.head_box Awesome Results
                p.txt_box We have seen great successes with everyone companies.

//- btn_action
.block-bl
    .block.wrapper.pd_block
        button.btn_action Learn More

//- icorigth
.block-bl
    .block.wrapper.pd_block
        .icorigth
            span.fl_rigth

//- btn_action + icorigth
.block-bl
    .block.wrapper.pd_block
        include _btn_action

mixin sitesection()
    .sitesection
        .sitesection__bg
        .sitesection__content
            .icosection.sitesection__icosection
                span.fl_startup
            h3.head_box Awesome Results
            p.txt_box We have seen great successes with everyone companies.
        .sitesection__btn
            include _btn_action

//- sitesection + btn_action
.block-bl
    .block.wrapper.pd_block
        .sitesections.sitesections-lt
            +sitesection
            +sitesection
            +sitesection